@tailwind base;
@tailwind components;
@tailwind utilities;

/*
typographie titre => playfair Display
typographie paragraphe => Roboto
*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100..900&display=swap");

:root {
    --couleur_blue: #00bfdf;
    --couleur_orange: #f9cc5a;
    --couleur_orange_hover: #f7d377;
    --couleur_argenté: #f6f6f6;
}

/* Typhographie */
h1,
h2,
nav {
    font-family: "Playfair Display", serif;
    @apply text-4xl;
    @apply font-extrabold;
}
.important {
    font-family: "Playfair Display", serif;
}
button,
p,
figcaption,
ul,
li {
    font-family: "Roboto", sans-serif;
    @apply text-2xl;
}
/* ------NAVIGATION---- */
.nav_background {
    background-color: var(--couleur_blue);
}
nav a:hover,
footer a:hover,
p a:hover {
    color: var(--couleur_orange) !important;
}
nav a,
footer a {
    @apply text-xl !important;
    @apply font-bold !important;
    @apply text-white !important;
    cursor: pointer;
}
nav #tel {
    position: absolute;
    right: 5vh;
    top: 17px;
}
nav .lien {
    border-top: solid white 0.1em !important;
    padding-top: 0.5em !important;
}

#description_accueil {
    background-image: url("/storage/accueil/paysage_accueil_transparent.jpg");
    height: 100vh;
    padding: 3.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    @apply flex;
    @apply flex-col;
}
/* placement des elements */

#h1_description,
#h2_description {
    @apply relative;
    @apply text-center;
    @apply font-extrabold;
    @apply m-auto;
    @apply rounded-xl;
}
#h1_description {
    @apply text-5xl;
    line-height: 1.5em;
    word-spacing: 10px;
}
article#description_accueil h1 {
    max-width: 800px;
}
article#description_accueil #h2_description {
    bottom: 10vh;
    width: 50vw;
    @apply bg-black;
    @apply bg-opacity-65;
    @apply text-white;
    @apply p-5;
}
#contactez {
    align-self: center;
}
button:hover:not(.button_svg) {
    background-color: var(--couleur_orange_hover);
}
button:not(nav button) {
    background-color: var(--couleur_orange);
    padding: 10px 25px;
    @apply rounded-3xl;
    @apply text-2xl;
    @apply font-extrabold;
}
/* --------------------- */
#proposons h1,
#proposons p {
    max-width: 550px;
    margin: auto;
    text-align: center;
}

main article:not(#devis_fictif):nth-of-type(n + 2) {
    @apply my-28 !important;
}
article h1 + p {
    @apply mt-9 !important;
}
/* ---------------------------- */
article#univers {
    background-color: black;
    @apply mx-5;
    @apply py-12;
    @apply rounded-xl;
    display: flex;
    flex-direction: column;
}
article#univers h1 {
    @apply text-white;

    @apply pl-16;
}
article#univers h1 span {
    @apply pl-16;
}
article#univers figure img {
    @apply rounded-t-xl;
    height: 50vh;
    object-fit: cover;
}
article#univers figure:nth-of-type(n + 1) {
    margin-left: 2em;
}
article#univers figure:last-of-type {
    margin-right: 2em;
}
article#univers div {
    position: relative;
}
article#univers figcaption {
    background-color: var(--couleur_argenté);
    color: black;
    @apply pt-12;
    @apply px-5;
    height: 22rem;
    @apply rounded-b-xl;
    @apply text-center;
}

article#univers section,
article#formules section {
    display: grid;
    @apply grid-cols-3;
    justify-content: space-evenly;
}
article#univers h1,
article#formules h1 {
    @apply mb-9;
}
article#univers p {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    color: black;
    @apply font-extrabold;
    @apply py-2;
}
article#univers figure:nth-of-type(2) p {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white;
}
article#univers button {
    @apply self-end;
    margin-right: 2em;
    margin-top: 1.5em;
    padding: 0.5em 2em;
}
/* ---------formules ACCUEIL---------- */
article#formules {
    background-color: var(--couleur_argenté);
    position: relative;
    @apply mx-5;
    @apply py-12;
    @apply rounded-xl;
    display: flex;
    flex-direction: column;
}
article#formules h1 {
    text-align: center;
}
article#formules figure {
    @apply rounded-xl;
    @apply justify-self-center;
    @apply mx-5;
}
article#formules figure img {
    height: 30em;
    width: 23rem;
    @apply object-cover;
}
article#formules figcaption {
    @apply font-bold;
    text-align: center;
}
article#formules button {
    @apply self-end;
    margin-right: 2em;
    margin-top: 1.5em;
    padding: 0.5em 2em;
}
/* ------map------ */

#localisation h1 {
    text-align: center;
    @apply pb-9;
}
#localisation p {
    text-align: center;
}
iframe {
    width: 50vw;
    height: 50vh;
    margin: auto;
}

/* ------------footer-------- */
footer {
    color: white;
    background-color: var(--couleur_blue);
}
footer article {
    display: grid;
    @apply grid-cols-3;
    @apply justify-items-center;
}
footer article section {
    @apply py-9;
}
footer article section h2 {
    @apply pb-5;
}

/* ----------Bien-être Formule------------- */

main .h1_titre {
    @apply pt-36;
    @apply pb-9;
    text-align: center;
}
main .h1_titre ~ p.important:hover {
    color: var(--couleur_orange_hover);
}
main .rien {
    padding: 15vh 0em !important;
}
main .h1_titre ~ p {
    text-align: center;
    @apply mb-12;
    /* @apply font-bold; */
}
main article#bien_être {
    @apply py-12;
    display: grid;
    @apply grid-cols-3;
    gap: 3em;
    @apply justify-evenly;
}
main article#bien_être section {
    border: 1px rgb(173, 173, 173) solid;
    background-color: var(--couleur_argenté);
    @apply rounded-xl;
    @apply mx-9;
    display: flex;
    flex-direction: column;
}
article#bien_être figure img {
    height: 30em;
    @apply w-full;
    @apply object-cover;
    @apply rounded-t-xl;
}

article#bien_être section h2,
article#bien_être section p {
    @apply py-6;
    @apply px-6;
}
article#bien_être section p:last-child {
    @apply self-center !important;
    margin-top: auto;
}
article#bien_être section li,
article#bien_être section ul {
    @apply px-6;
    /* @apply py-1; */
}
article#bien_être section h2 {
    text-align: center;
}
/* --------CHAMBRE----------- */
article#chambres section {
    display: grid;
    @apply grid-cols-3;
    @apply rounded-xl;
    border: gray 1px solid;
    @apply m-9;
}

/* -------partie gauche ------- */
article#chambres figure#partie_gauche {
    @apply col-span-1;
}
article#chambres figure#partie_gauche img {
    height: 100%;
    @apply object-cover;
    @apply rounded-l-xl;
}
/* ----------partie droite ---------- */
article#chambres div#partie_droite {
    @apply col-span-2;
    @apply mx-14;
    @apply mx-14;
    position: relative;
}
article#chambres div#partie_droite {
    @apply col-span-2;
    @apply mx-14;
    @apply py-6;
}
article#chambres div#partie_droite p {
    @apply py-1;
}
article#chambres div#partie_droite h2 {
    @apply pb-6;
    text-align: center;
}
article#chambres div#partie_droite #jours_prix {
    position: absolute;
    bottom: 0;
    right: 0;
}
.gras_span {
    @apply font-bold;
}

/* ----------- CONTACT---------- */
article#contact {
    width: 60%;
    margin: auto;
}

article#contact form {
    @apply rounded-xl;
    border: 1px solid rgba(128, 128, 128, 0.548);
    background-color: var(--couleur_argenté);
    display: grid;
    @apply mt-9;
    padding: 3em;
    gap: 3em;
    @apply grid-cols-2;
    grid-template-areas:
        "nom prenom"
        "email tel"
        "date chambre"
        "nombres ."
        "cure  type_cure"
        "comment comment"
        "bouton bouton";
}

/* Mapping des zones */
#nom {
    grid-area: nom;
}
#prenom {
    grid-area: prenom;
}
#email {
    grid-area: email;
}
#tel {
    grid-area: tel;
}
#nombres {
    grid-area: nombres;
}
#cure {
    grid-area: cure;
}
#chambre {
    grid-area: chambre;
}
#type_cure {
    grid-area: type_cure;
}
#date {
    grid-area: date;
}
#comment {
    grid-area: comment;
}
.bouton {
    grid-area: bouton;
}

/* ---------- Contact ---------- */
article#contact form section {
    display: flex;
    flex-direction: column;
}

article#contact form input,
article#contact form textarea,
article#contact form select {
    @apply rounded-xl;
}

/* Gestion erreurs sans décalage */
article#contact form section p:not(.titre_cure) {
    color: red;
    font-size: 0.9em;
    min-height: 1.5em; /* réserve l'espace */
    margin: 0.3em 0 0;
}

article#contact form section span {
    color: red;
}
article#contact form .grouper {
    display: flex;
    @apply mt-3;
}
article#contact form .grouper label {
    @apply ml-1;
}
article#contact form .grouper input {
    @apply ml-2;
    margin-top: 0.2em;
}
/* Bouton */

article#contact form button {
    width: 16rem;
    margin: auto;
}
article#donnee,
article#mention {
    @apply pt-16;
    @apply mx-12;
}

article#donnee > h1,
article#mention > h1 {
    @apply text-center;
    @apply my-16;
}
article#donnee section,
article#mention section {
    @apply my-16;
}

article#donnee h2 + p,
article#mention > p {
    @apply mt-5;
}
p#information {
    border: 1px solid rgba(128, 128, 128, 0.548);
    background-color: var(--couleur_argenté);
    margin: auto;
    text-align: center;
    @apply rounded-xl;
    width: 65%;
    padding: 2em 2em;
    @apply my-9 !important;
}

p#devis {
    cursor: pointer;
    display: block;
    width: max-content;
    margin: auto;
}
p#croix {
    position: absolute;
    right: 5%;
    top: 13%;
    cursor: pointer;
}
/* ----------devis_fictif-------- */
section#devis_fictif {
    background-color: var(--couleur_argenté);
    border-left: 3px solid;
    /* height: 100%; */
    position: fixed;
    @apply pt-36;
    height: 100%;
    width: 40%;
    /* @apply grid-cols-1; */
    right: 0;
    z-index: 2;
}
section#devis_fictif div {
    display: grid;
    @apply mx-9;
    gap: 0.5em;
}
section#devis_fictif div h1 {
    @apply mb-9;
}
.element {
    display: none;
}
.apparait {
    animation: devis_apparait 2s;
    display: block;
}
.disparait {
    display: block;
    animation: devis_disparait 1s forwards;
}

@keyframes devis_disparait {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes devis_apparait {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
}

.nav_profil {
    background-color: var(--couleur_blue);
}
select.couleur_option option:nth-of-type(2n + 2) {
    background-color: #d3d3d387;
}

#date_choisie {
    color: black !important;
    @apply text-lg !important;
}
